{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>

		<footer class="post__footer">
			{{- if .Params.tags }}
			<footer class="post__footer">
				{{ partial "post_tags.html" . }}
			</footer>
			{{- end }}
		</footer>
	</article>
</main>
{{ partial "pager.html" . }}

{{- if .Params.categories }}
<footer class="post__footer">
	{{ partial "post_related.html" . }}
</footer>
{{- end }}

{{ partial "authorbox.html" . }}
{{ partial "comments.html" . }}
{{ partial "mathjax.html" . }}
{{ partial "mermaid.html" . }}

{{ end }}

{{ define "sidebar" }}
{{- if .Param "toc" }}
{{- if gt (len .TableOfContents) 32 }}
<aside class="sidebar sidebar--right">
	<div class="post__toc toc">
		<div class="toc__title">{{ T "toc_title" }}</div>
		<div class="toc__menu">
			{{ .TableOfContents }}
		</div>
	</div>
</aside>
{{- end }}
{{- end }}
{{ end }}
